body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.PoolData {
  margin-top: 15px;
  /* background-color:whitesmoke; */
  background-color: aquamarine;
  border-radius: 5px;
  border: 4px solid black;
  width: 500px;
}

.StakedAmounts {
  background-color: azure;
  border: 5px solid red;
}

.UnderlyingAmounts {
  background-color: aquamarine;
  /* border: 4px solid green; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
